<div class= "home-container">
  <div class="home-description">
    <p>We are a team of motivated professionals working tirelessly to increase startup funding by connecting investors.</p>
  </div>
  <div class="signup-container">
    <div class="joining-as-text">
      <p id="joining-text">JOINING AS</p>
    </div>
    <div class="home-signup-page">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <p class="investor-title">INVESTOR</p>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :first_name,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "first name" } %>

          <%= f.input :last_name,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "last name" } %>

          <%= f.input :address,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "address" } %>

          <%= f.input :city,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "city" } %>

            <label class="country-label" for="">Country</label>
           <%= f.text_field :country,
                      hint: "",
                      required: false,
                      class: "form-control string optional",
                      input_html: { autocomplete: "country" } %>

          <%= f.input :company_name,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "company-name" } %>

          <%#= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%#= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :button, "Next", class: "signup-button" do %>
            <i class="fa-solid fa-arrow-right"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# <h3>Cancel my account</h3> %>

    <%# <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%# <%=link_to "Back", :back %>

    <%# </div>  %>
  </div>
</div>
