<div class= "home-container">
  <div class="home-description">
    <p>We are a team of motivated professionals working tirelessly to increase startup funding by connecting investors.</p>
  </div>
  <div class="signup-container">
    <div class="joining-as-text">
      <p id="joining-text">JOINING AS</p>
    </div>
    <div class="home-signup-page">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>
        <p class="investor-title">INVESTOR</p>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "signup-button" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
