<div class="startup-search-container">
  <div class="startup-filter-form" data-controller="filter-list">
    <%= form_with url: root_path, method: :get, html: {class: "mb-4"} do |f| %>
      <%= f.label :industry, "choose industry" %>
      <%= f.collection_select :industry, Startup.select(:industry).distinct.reorder('industry ASC'), :industry, :industry%>
      <%= f.collection_select :country, User.select(:country).distinct.reorder('country ASC'), :country, :country%>
      <%= f.collection_select :funding, Startup.select(:funding).distinct.reorder('funding ASC'), :funding, :funding%>
      <%= f.submit "Search" %>
    <% end %>
  </div>

</div>
