
<div class="list-startups" data-controller="cards-show">
  <div class= "list-itself" data-filter-list-target="list">
    <div class= "startups-cards">
      <div class="gallery">
        <% startups.each do |startup| %>
          <div class="card-height" data-startup="<%= startup.id %>">
            <figure class="gallery__item gallery__item--1">
              <img src="https://source.unsplash.com/random/400x400/?industrial&<%= rand(1...100) %>" class="gallery__img" alt="Image 1">
              <div class="card-short-descr">
                <div class="title-boxed">
                  <h2><%= startup.user.company_name[0..30]%></h2>
                  <h3 class= "startup-industry"><%=startup.industry%></h3>
                </div>
              </div>
              <div class="class-boxed">
                <p class= "startup-class"><%=startup.funding %></p>
              </div>
            </figure>
          </div>
          <div class="card-left-details d-none "data-startup="<%= startup.id %>" style="background-image:url('https://source.unsplash.com/random/?industrial&<%= rand(1...100) %>')">
            <div class="card-left-info">
              <h2><%= startup.industry %></h2>
              <p>Startup description</p>
              <ul class="card-left-info-list">
                <li><div id="card-left-industry">
                  <p>INDUSTRY</p><p>Healthcare Tech</p>
                </div></li>
                <li><div id="card-left-class">
                  <p>CLASS</p><p>B</p>
                </div></li>
                <li><div id="card-left-funding">
                  <p>RAISING</p><p>40%</p>
                </div></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
