<h1>Startups#show</h1>
<p>Find me in app/views/startups/show.html.erb</p>
<%= simple_form_for [@user, @start_up] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Submit start_up", class: "btn btn-primary" %>
<% end %>
<p><strong>Startsup</strong></p>
<ul class="list-group">
  <% @user.starts-up.each do |start_up| %>
    <li class="list-group-item"><%= start_up.content %></li>
    <%= start_up.content %>
  <%= link_to "Delete",
    start_up_path(start_up),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>


  <% end %>
</ul>
<br>
