<%= render "shared/navbar" %>

<div class="members-cointainer row members-gap">
  <div class="col-6" data-controller="team-show">
    <% @members.each do |member| %>
      <div class= "description-team-members d-none info-card-<%= member.id %>"%>
        <div class= "card-member-descripion" >
          <h1> <%= member.first_name %> <%= member.last_name %></h1>
          <p> <%= member.bio %></p>
          <h2>Role</h2>
          <p><%= member.position %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class= "col-4" data-filter-list-target="list">
    <div class= "members-cards">
      <div class="gallery ">
        <% @members.each do |member| %>
          <div class="card-height profile-card" data-id=<%= member.id %>>
            <figure class="gallery__item gallery__item--1">
              <img src="https://source.unsplash.com/random/300x300/?portrait&<%= rand(1...100) %>" class="gallery__img" alt="Image 1">
              <div class="card-member-name">
                <div class="name-boxed">
                  <h3 class= "member-name"><%=member.first_name%> <%=member.last_name%></h3>
              </div>
              <%# <div class="class-boxed">
                <p class= "startup-class"><%=@startup.funding %></p>
              <%# </div> %>
            </figure>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
