<%= render "shared/navbar" %>
<%# <div class="home-container"> %>
<div class="members-cointainer d-flex">
  <div class="list-members" data-controller="bio-show">
 <%#  <div class= "list-itself" data-filter-list-target="list"> %>
  <%#     <div class="col-8">
    <div startups-cards col-4> %>
      <div class= "description-team-members">
        <%# @members.each do |member| %>
           <div class= "card-member-descripion" >
             <h1> <%= @members.first.first_name %> <%= @members.first.last_name %></h1>
              <p> <%= @members.first.bio %>
              </p>
              <h2>Role</h2>
              <p><%= @members.first.position %></p>

          </div>
        <%# end %>
      </div>
    </div>
        <div class= "members-list-itself" data-filter-list-target="list">
        <div class= "members-cards">
          <div class="gallery">
          <% @members.each do |member| %>
            <div class="card-height">
              <figure class="gallery__item gallery__item--1">
                <img src="https://source.unsplash.com/random/300x300/?portrait&<%= rand(1...100) %>" class="gallery__img" alt="Image 1">
                <div class="card-member-name">
                  <div class="name-boxed">
                    <h3 class= "member-name"><%=member.first_name%></h3>
                  </div>
                </div>
                <%# <div class="class-boxed">
                  <p class= "startup-class"><%=@startup.funding %></p>
                <%# </div> %>
              </figure>
            </div>
          <% end %>


            </div>
        </div>


    </div>

</div>



<%# <%= @teammembers.first.first_name
  <%= render "shared/navbar" %>
 <%#  <div class="container">
   <div class="head-container">
     <div class="w-200 border-end pt-2 pb-2">
      <div class= "description-team-members">
      <% #@members.each do |member| %>
          <%# <div class= "card-member-descripion" >
             <h1>Vilma</h1>
              <p> <br> very smart too!! <br>Lorem ipsum dolor sit amet, consectetur adipiscin
          elit, sed do eiusmod tempor incididunt ut laborelaboris nisi ut aliquip ex ea commodo consequat.
          </p> %>
           <%# <h2>ROLE</h2>
          <p>Founder</p>
          <h2>EDUCATION</h2>
          <ul>
            <li>2015-2020 sexyschool</li>
            <li>2015-2020 sexyschool</li>
            <li>2015-2020 sexyschool</li>
            <li>2015-2020 sexyschool</li>
          </ul>
        </div> %>

   <%# <div class="team-picture-grid">

    <div class="team-photo">
    <h3 class="name">Vilma</h3>
    <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
    </div>
    <div class="team-photo">
    <h3 class="name">Marta</h3>
     <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
     </div>
     <div class="team-photo">
     <h3 class="name"> Maria</h3>
      <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
      </div>
      <div class="team-photo">
      <h3 class="name">Aurela</h3>
       <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
       </div>
       <div class="team-photo">
       <h3 class="name">Francesca</h3>
        <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
        </div>
        <div class="team-photo">
        <h3 class="name">Martini</h3>
         <img src="https://source.unsplash.com/random/300x300/?portrait" alt="Startup">
        </div>
 %>
      <%# end %>
       <%# <div class= "list-member">
        <div class="row">
         <div class="column" style="background: #CCCCCC;">What's going on</div>
          <div class="column" style="background: #d3d3d3;">please work</div>
       </div>
          </div>
             </div>
                </div>%>







<%#
  </div>
  </div>



  </div> %>
