<div>
   <%= render 'calendar' %>
</div>
<div class="container-dashboard">
  <div class="requests">
    <h3>Requests I've received</h3>
    <% @my_connection_requests_received.each do |request| %>
      <p>Company name: <%= User.where(id:request.sender_id).select(:company_name).first.company_name %></p>
      <% if request.pending == true %>
      <div class="forms-container">
        <%= render 'connections/accept', request: request %>
        <%= render 'connections/decline', request: request %>
      </div>
      <% else %>
        <% if request.pending == false && request.accepted == true %>
          <div class="btn btn-outline-success">Accepted!</div>
          <%# Check if there is a meeting already set%>
          <% connection_meetings = Meeting.where(connection_id: request) %>
          <%= render 'show_meetings', connection_meetings: connection_meetings, request: request %>
        <% elsif request.pending == false && request.accepted == false %>
          <div class="btn btn-outline-danger">Declined!</div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="requests">
    <% @my_connection_requests_sent.each do |request| %>
      <p>Company name: <%= User.where(id:request.receiver_id).select(:company_name).first.company_name %></p>
      <% if request.pending == true %>
        <div class="btn btn-outline-warning">Pending</div>
      <% else %>
        <% if request.pending == false && request.accepted == true %>
          <div class="btn btn-outline-success">Accepted!</div>
          <div class="btn btn-outline-primary">Set up a meeting!</div>
        <% elsif request.pending == false && request.accepted == false %>
          <div class="btn btn-outline-danger">Declined!</div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
