<div>
   <%= render 'calendar' %>
</div>
<div class="container-dashboard">
  <div class="requests-left">
    <div id="requests-left-title">
      <h1>RECEIVED CONNECTIONS</h1>
    </div>
    <div class="requests-content-container">
      <% counter = 0 %>
      <% @my_connection_requests_received.each do |request| %>
        <% counter += 1 %>
        <%# <% raise %>
        <% if request.pending == true %>
        <div class="forms-container">
          <img class="requester-img" src="https://source.unsplash.com/random/400x400/?industrye&<%= rand(1...100) %>">
          <div class="requester-info">
            <p>Company name: <%= User.where(id:request.sender_id).select(:company_name).first.company_name %></p>
            <div class="requester-status">
              <%= render 'connections/accept', request: request, counter: counter %>
              <%= render 'connections/decline', request: request, counter: counter %>
            </div>
          </div>
        </div>
        <% else %>
          <% if request.pending == false && request.accepted == true %>
            <div class="forms-container">
              <img class="requester-img" src="https://source.unsplash.com/random/400x400/?industrye&<%= rand(1...100) %>">
              <div class="requester-info">
                <p>Company name: <%= User.where(id:request.sender_id).select(:company_name).first.company_name %></p>
                 <div class="requester-status">
                  <div class="btn btn-outline-success accepted">Accepted!</div>
                  <%# Bootstrap %>
                  <button type="button" class="btn btn-primary meeting-set" data-toggle="modal" data-target="#exampleModal<%=counter%>">
                    Set up a meeting!
                  </button>
                </div>
              </div>
            </div>
            <%= render 'meetings/popup', counter: counter, request: request %>
            <%# Bootstrap %>
            <%# Check if there is a meeting already set%>
            <% meetings = @meetings.where(connection_id: request) %>
            <% connection_meetings = meetings.where(meeting_pending: false) %>
            <%= render 'show_meetings', connection_meetings: connection_meetings, request: request, counter: counter %>
          <%# elsif request.pending == false && request.accepted == false %>
            <%# <div class="btn btn-outline-danger">Declined!</div> %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="requests-right">
    <div id="requests-right-title">
      <h1>SENT CONNECTIONS</h1>
    </div>
    <div class="requests-content-container">
      <% counter = 0 %>
      <% @my_connection_requests_sent.each do |request| %>
        <% counter += 1 %>
          <% if request.pending == true %>
            <div class="forms-container2">
              <img class="requester-img" src="https://source.unsplash.com/random/400x400/?industrye&<%= rand(1...100) %>">
              <div class="requester-info">
                <p>Company name: <%= User.where(id:request.receiver_id).select(:company_name).first.company_name %></p>
                <div class="btn btn-outline-warning pending">Pending</div>
              </div>
            </div>
          <% else %>
            <% if request.pending == false && request.accepted == true %>
              <div class="forms-container2">
                <img class="requester-img" src="https://source.unsplash.com/random/400x400/?industrye&<%= rand(1...100) %>">
                <div class="requester-info">
                  <p>Company name: <%= User.where(id:request.sender_id).select(:company_name).first.company_name %></p>
                  <div class="requester-status">
                    <div class="btn btn-outline-success accepted-right">Accepted!</div>
                    <button type="button" class="btn btn-primary metting-right" data-toggle="modal" data-target="#exampleModal<%=counter%>">
                      Set up a meeting!
                    </button>
                  </div>
                </div>
              </div>
              <%= render 'meetings/popup', counter: counter, request: request %>
              <% meetings = @meetings.where(connection_id: request) %>
              <% connection_meetings = meetings.where(meeting_pending: false) %>
              <%= render 'show_meetings', connection_meetings: connection_meetings, request: request, counter:counter %>
            <% elsif request.pending == false && request.accepted == false %>
              <div class="forms-container2">
                <img class="requester-img" src="https://source.unsplash.com/random/400x400/?industrye&<%= rand(1...100) %>">
                <div class="requester-info">
                  <div class="btn btn-outline-danger">Declined!</div>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<% blue_pages = current_page?(root_path) || current_page?(new_user_session_path)|| current_page?(user_session_path) %>
<div class="footer grey-back d-none <%= 'blue-back' if blue_pages %>">
<div class="footer-links">
  <a href="#"><i class="fab fa-github"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
<div class="footer-copyright">
</div>
