<%= simple_form_for @investor do |f| %>
  <p class="investor-title">INVESTOR</p>
  <%= f.collection_select :investor_type, Investor::INVESTORS, :to_s, :titleize, { include_blank: 'Select investor type' } %>
  <%= f.collection_select :funding_type, Investor::FUNDINGS, :to_s, :titleize, { include_blank: 'Select funding type' } %>
  <%= f.input :private, disabled: false %>
  <%= f.submit class: "create-button" %>
<% end %>
