<!DOCTYPE html>
<html>
  <head>
    <title>CloseIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/feather-icons"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% grey_pages = current_page?(controller: 'registrations', action: 'new') || current_page?(controller: 'investors', action: 'new') || current_page?(controller: 'startups', action: 'new') || current_page?(controller: 'investors', action: 'index') || current_page?(controller: 'startups', action: 'index') || current_page?(controller: 'startups', action: 'show') %>
  <div class="<%= grey_pages ? 'grey-back' : 'blue-back'%> full-screen">
    <div class= "all-container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </div>
  <script>
    feather.replace()
  </script>
  </body>
</html>
