<!DOCTYPE html>
<html>
  <head>
    <title>CloseIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/feather-icons"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>


  <% blue_pages =  current_page?(root_path) || current_page?(new_user_session_path)  %>
  <% blue_pages = current_page?(root_path) || current_page?(new_user_session_path) %>

  <%# add startup path show and OTHERS!!! %>

  <%# <% home_user = current_page?(root_path) && !current_user %>
  <% blue_pages = current_page?(root_path) || current_page?(new_user_session_path) || current_page?(user_session_path)%>
  <div class="grey-back <%= 'blue-back' if blue_pages %> full-screen">
    <div class= "all-container">
      <% if params[:id].nil? %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%#= render "shared/footer" %>
    </div>
  </div>
  <script>
    feather.replace()
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  </body>

</html>
